<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tip_calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D2BF58A1E33033300B32250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D2BF59E1E33033300B32250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D2BF5A91E33033300B32250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
